.container {
  width: 90vw;
  margin: auto;
  padding: 50px;
}

.todo-list-container {
  width: 30%;
  margin: auto;
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}

.todo-list-header {
  width: 100%;
  text-align: center;
}

.addTodo {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.submitButton {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 15px;
  color: antiquewhite;
  background-color: rgb(10, 65, 218);
  outline: none;
  border: none;
  border-radius: 10px;
}

.todoListDisplay {
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 30px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.todoList {
  text-align-last: left;
  width: 280px;
  padding: 2px 14px;
  background-color: #fff;
  border-radius: 10px;
  margin: 5px;
}

@media screen and (max-width: 769px) {
  .todo-list-container {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
  }

  .todo-list-header {
    font-size: 16px;
  }

  .addTodo {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
  }

  .submitButton {
    margin-top: 10px;
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 5px;
  }

  .todoListDisplay {
    margin-top: 20px;
    width: 70%;
    padding: 7px;
    border-radius: 10px;
  }
  
  .todoList {
    width: 250px;
    font-size: 14px;
  }
}

@media screen and (max-width: 426px) {
  .todo-list-container {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
  }

  .todo-list-header {
    font-size: 12px;
  }

  .addTodo {
    width: 200px;
    padding: 7px;
    border-radius: 5px;
  }

  .submitButton {
    margin-top: 10px;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
  }

  .todoListDisplay {
    margin-top: 20px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
  }
  
  .todoList {
    width: 200px;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 5px;
    margin: 5px;
  }
}