<div class="container">
  <div class="todo-list-container">
    <div class="todo-list-header">
      <h1>Add ToDo List</h1>
    </div>
    <div class="inputArea">
      <input type="text" class="addTodo" [(ngModel)]="todoItem" id="inputField" placeholder="Enter Todo Item">
      <button id="submitButton" class="submitButton" (click)="addTodoItem()">Add List</button>
    </div>
  </div>
  <div class="todoListDisplay" *ngIf="todoList.length">
    <div *ngFor="let item of todoList">
      <div class="todoList" [id]="item.id" (click)="removeTodo(item.id)">
        <p>{{ item.item }}</p>
      </div>
    </div>
  </div>
</div>